html {
  scroll-behavior: smooth;
}
body{
   background-image: url(../img/5630939.jpg);

    margin : 0;
    padding : 0;   
    font-family : Arial, Helvetica, sans-serif;

}

nav{
overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
ul{
    list-style-type: none;
    display: flex;
    float: right;
    margin-right: 10%;

}

li{
    padding: 15px;

}

li a{
    text-decoration: none;
    color: white;
    font-style:normal;
}

li a:hover{
    color: rgb(8, 235, 216);
        transition: 0.5s;

}

h1{
    color: white;
}
.cursor{
    position: relative;
    width: 100%;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

p{
    color: white;
    font-size: 20px;
    width: 600px;
    margin-bottom: 30px;
}
.columne_1{
    padding: 20px;
    width: 60%;
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 2000ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(43, 218, 224, 0.75); }
  to { border-right-color: transparent; }
}
.titre{
    margin-top: 15%;
    padding-left: 5%;
}
.paragraphe-2{
    color: white;
    font-size: 17px;
    width: 500px;

 
}

h3{
    color: white;
}
.images{
    display: flex;
}

.gym,.mauytahi, .moto {
    border-radius: 50%;
    margin-left: 10px;
      box-shadow: rgb(55, 235, 196) 0px 0px 20px;
    border: solid 4px #bff14abb ;
}

.moto:hover {
    transform: scale(1.1);
    transition: 0.5s;
      box-shadow: #e7461e 0px 0px 20px;
    border: solid 4px #fff ;

}


.gym:hover {
    transform: scale(1.1);
    transition: 0.5s;
       box-shadow: rgb(231, 70, 30) 0px 0px 20px;
    border: solid 4px #fff ;
}




.mauytahi:hover {
    transform: scale(1.1);
    transition: 0.5s;
       box-shadow: rgb(231, 70, 30) 0px 0px 20px;
    border: solid 4px #fff ;
}


.container{
    display: flex;
    margin-top: 50px;
        justify-content: space-around;


}

.milad{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-top: 90px;
    box-shadow: rgb(55, 214, 235) 0px 0px 40px;
    border: solid 3px #0dd9e0 ;
}

#info{
     margin-top: 150px;
}

.page_info{
    margin-left: 5%;
}

.container-2{
    display: flex;
}

.columne-02{
    display: flex;
    margin: auto;
    margin-top: 50px;
}

/*hover columne-02*/
.info_scolaire:hover{
    box-shadow: rgba(55, 214, 235, 0.603) 0px 0px 40px;
    transform: scale(1.05);
    transition: 0.5s;
    border: solid 2px #0dd9e0ad ;}
.container-2{
    justify-content: space-evenly;
}

.image-certificat{

    border-radius: 10px;
}
/*adresse de la Elyseé*/
.adresse{
    color: rgb(8, 69, 235);
    text-decoration:underline red 2px;
}

/*texte sur etude*/
.sertificat{
    width: 380px;
    padding-left: 10px;
    color: #ffffff;
    text-align: justify;

}

/*div info-scolaire*/
.info_scolaire{
    background-color: #87c1d8af;
    width: 400px;
    border: solid 2px white;
    border-radius: 13px;
    margin:0px 20px 0px 20px;
}

h2{
      padding-left: 10px;
      color: rgb(53, 47, 47);
  
}


/*informatique coneissance*/
.connaissence_info{
color: white;
display: flex;
justify-content: space-evenly;
margin-top: 15%;
font-size: 25px;
}

.list_info{
    font-size: 20px;

}


/*animation sur internet*/
:root {
  --body-color: #010c15;
  --text-color: #726f77;
  --primary-color: #20c863;
  --secondary-color: #d4ff00;

  color-scheme: dark;
}

*,
*:before,
*:after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-6 {
  --size: 120px;
  --offset: 30px;
  --duration: 30s;

  margin: auto;
  position: relative;
  aspect-ratio: 1 / 1;
  pointer-events: none;
  display: inline-grid;
  border-radius: 9999px;
  width: calc(var(--size) * 3);
  border: 6px solid var(--primary-color);
  transition: box-shadow 0.3s ease-in-out;
  animation: spin-out var(--duration) linear infinite;

  & .item {
    z-index: 1;
    display: flex;
    grid-area: 1 / 1;
    width: var(--size);
    aspect-ratio: 1 / 1;
    pointer-events: auto;
    border-radius: 9999px;
    animation: spin-in var(--duration) linear infinite reverse;
    offset: circle(
        calc(var(--size) / (2 * sin(0.5turn / sibling-count())) + var(--offset))
      )
      calc(100% * sibling-index() / sibling-count()) 0deg;

    & img {
      width: inherit;
      height: inherit;
      pointer-events: auto;
      border-radius: 9999px;
      border: 3px solid var(--primary-color);

      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      transition-property: box-shadow, scale, border;
    }

    &:hover {
      z-index: 2;

      & img {
        scale: 1.5;
        border-color: var(--secondary-color);
        box-shadow: 0 0 1rem var(--secondary-color);
      }

      & ~ * img {
        scale: 0.6;
      }
    }

    &:has(~ *:hover) img {
      scale: 0.6;
    }
  }

  &::before {
    content: "";
    z-index: -1;
    border: inherit;
    position: absolute;
    width: var(--size);
    aspect-ratio: 1 / 1;
    border-radius: 0.25rem;

    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);

    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: transform, border-radius, border, box-shadow;
  }

  &::after {
    content: "";
    z-index: -1;
    inset: -6px;
    width: inherit;
    height: inherit;
    border: inherit;
    position: absolute;
    border-radius: inherit;
    animation: spin-in var(--duration) linear infinite reverse;

    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: scale, border-radius, border, box-shadow;
  }

  &:has(.item:hover) {
    animation-play-state: paused;
    box-shadow: 0 0 60px 12px var(--primary-color) inset,
      0 0 21px 15px var(--body-color);

    & .item {
      animation-play-state: paused;
    }

    &::before {
      --scale: 4;
      --translate: calc(-50% / var(--scale));

      border-width: 2px;
      border-radius: inherit;
      border-color: var(--secondary-color);
      transform: scale(var(--scale))
        translate(var(--translate), var(--translate));
      box-shadow: 0 0 15px var(--secondary-color),
        0 0 15px var(--primary-color) inset;
    }

    &::after {
      scale: 0.3;
      border-width: 18px;
      border-radius: 3rem;
      border-color: var(--secondary-color);
      box-shadow: 0 0 var(--size) var(--secondary-color) inset;
    }
  }
}

@keyframes spin-out {
  from {
    rotate: 0;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes spin-in {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.columne_04{
margin-right: 20px;
}

.container3{
  display: flex;
  margin-top: 13%;
  justify-content: center;
}


.columne05{
width: 800px;
height: 500px;

  
}

.columne06{
  width: 800px;
height: 500px;
margin-left: 50px;
}

.images_propose{
  display: block;
}

:root {
  --coilSize: 14px;
  --delayCount: 40ms;
  --scaleMe: 1;

  --scaleFlip: 1;
  --posFlip: 0;
}



.page-contact{
  margin-top: 10%;
  margin-left: 6%;
}

.page-contact-p{
  margin-left: 6%;
  padding-bottom: 0px;
}

/*social media*/
.home-sci {
  position: absolute;
  width: 170px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -90px;
    margin-left: 14%;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: transparent;
    border: solid 2px #3cece4de;
  border-radius: 50%;
  font-size: 20px;
  color: #3b5998;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
}


.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #3cece4de;
  z-index: -1;
  transition: .5s;
}


.home-sci a:hover::before {
  width: 100%;
}


/*formoulaire*/
     /* --- LOGIN POPUP --- */
.formouliare{
width: 300px;
background-color: #010c15;
float: inline-end;
margin-right: 2%;
}
    .auth-header {
      text-align: center;
      margin-bottom: 15px;
      position: relative;
    }

    .dropdown-close-btn {
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      border: none;
      cursor: pointer;
      
    }

 
    .auth-title {
      font-size: 22px;
      font-weight: bold;
    }

    .auth-subtitle {
      color: #f7f1f1;
      font-size: 14px;
      margin-top: 5px;
    }

    .switch-form {
      font-size: 13px;
      text-align: center;
      margin-bottom: 10px;
    }

    .switch-form a {
      color: #04AA6D;
      cursor: pointer;
    }

    /* --- SOCIAL BUTTONS --- */
    .social-buttons {
      display: flex;
      justify-content: space-around;
      margin: 15px 0;
    }

    .social-button {
      background: #eee;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.2s;
    }

    .social-button:hover {
      background: #ddd;
    }

    .divider {
      text-align: center;
      color: #ffffffe3;
      margin: 10px 0;
      position: relative;
    }

    .divider::before, .divider::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 40%;
      height: 1px;
      background: #ccc;
    }

    .divider::before {
      left: 0;
    }

    .divider::after {
      right: 0;
    }

    /* --- FORM --- */
    form {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    input {
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 14px;
    }

    .tnb-login-dropdown-password-container {
      position: relative;
    }

    #toggle-password-visibility {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
    }

    .forgot-password {
      font-size: 13px;
      text-align: right;
      color: #04AA6D;
      cursor: pointer;
    }

    button[type="submit"] {
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 10px;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
    }

    button[type="submit"]:hover {
      background-color: #059862;
    }
/*Croix Ferme*/

#tnb-login-dropdown-close-btn {
  color: white; 
  float: right;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

#tnb-login-dropdown-close-btn:hover {
color: rgb(67, 177, 34);}


/*social media*/

.instagram{
border-style: solid;
border-radius: 50%;
width: 40px;
height: 40px;
}

.icon-svg{
  margin-top: 5px;
}